{% extends "layout.html" %}

{% block title %}

History

{% endblock %}

{% block main %}

<table class="table">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for dict in info %}
        <tr>
            <td class="text-start">{{ dict["symbol"] }}</td>
            <td class="text-end">{{ dict["amount"] }}</td>
            <td class="text-end">{{ dict["price"] | usd }}</td>
            <td class="text-end">{{ dict["timing"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}